<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926500156066-scevk083t5vs25mkhrg8p0pbapr2ri36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926500156066-scevk083t5vs25mkhrg8p0pbapr2ri36</string>
	<key>API_KEY</key>
	<string>AIzaSyBrwADegP_12p5yGZYUsBxz9IwPIVB-drI</string>
	<key>GCM_SENDER_ID</key>
	<string>926500156066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f9edc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f9edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926500156066:ios:7cc554de3a8289e7611dfb</string>
</dict>
</plist>